@import 'tailwindcss';

@layer base {
    .NavActiveMain {
        color: orange 
    }
    .NavActiveCategory {
      background-color: #222831;
      border-radius: 25px;
      color: white;
    }
    boody, div, section, header, main{
      caret-color: transparent !important;
    }
    
    input, textarea {
      caret-color: auto;
    }

    .asidBar {
      transition: 0.4s ease-in-out;
    }
    
}
.swiper-header .swiper{
  height: 24rem;
}
.swiper-header :is(.swiper-pagination) {
  left: -47% !important;
  bottom:10px !important;
}

@media(max-width: 1024px){
    .swiper-header :is(.swiper-pagination) {
      left: -46% !important;
  }
}
@media(max-width: 768px){
    .swiper-header :is(.swiper-pagination) {
      left: -44% !important;
      top: 85% !important;
  }
}
@media(max-width: 640px){
    .swiper-header :is(.swiper-pagination) {
      left: -42% !important;
      top: 85% !important;
  }
}
@media(max-width: 640px){
    .swiper-header :is(.swiper-pagination) {
      left: -40% !important;
  }
}

.swiper-header .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  transition: all 0.3s ease;
}
.swiper-header .swiper-pagination-bullet-active {
  padding: 2px;
  background-color: rgb(250, 177, 19);
  opacity: 1;
  transform: scale(1.3);
}

.swiper-card .swiper {
  height: 52rem;
}

@media(min-width: 640px){
  .swiper-card .swiper {
      height: 52rem;
  }
}

@media(min-width: 1024px){
  .swiper-card .swiper {
      height: 27rem;
  }
}

.swiper-card .swiper-button-next,
.swiper-card .swiper-button-prev {
 position: absolute !important;
 top:auto !important;
 bottom: 15px !important;
 
}

.swiper-card .swiper-button-next,
.swiper-card .swiper-button-prev {
  left: 51% !important;
  border: 1px solid oklch(87.9% 0.169 91.605);
  border-radius: 100%;
  background-color: oklch(87.9% 0.169 91.605);
  width: 3rem;
  height: 3rem;
  color: oklch(98.5% 0 0);
}

.swiper-card .swiper-button-next:hover,
.swiper-card .swiper-button-prev:hover {

   background-color: oklch(82.8% 0.189 84.429);
   border: 1px solid oklch(82.8% 0.189 84.429);
 
}

.swiper-card .swiper-button-next .swiper-navigation-icon,
.swiper-card .swiper-button-prev .swiper-navigation-icon {
  width: 10px;
  height: 25px;
}

.swiper-card .swiper-button-prev {
  left: 33% !important;
}
.swiper-card .swiper-button-next {
  left: 51% !important;
}

@media(min-width: 640px){
    .swiper-card .swiper-button-prev {
        left: 39% !important;
  }
    .swiper-card .swiper-button-next{
        left: 50% !important;
  } 
}

@media(min-width: 768px){
    .swiper-card .swiper-button-prev {
        left: 41% !important;
  }
    .swiper-card .swiper-button-next{
        left: 52% !important;
  } 
}

@media(min-width: 1024px){
    .swiper-card .swiper-button-prev {
        left: 43% !important;
  }
    .swiper-card .swiper-button-next{
        left: 52% !important;
  }
}

@media(min-width: 1280px){
    .swiper-card .swiper-button-prev {
        left: 45% !important;
  }
    .swiper-card .swiper-button-next{
        left: 51% !important;
  }
}


